.app-blank {
  background-color: #F5F8FA;
}

[data-bs-theme="dark"] {
  .app-blank {
    background-color: #1E1E2D;
  }
}

.position-relative {
  position: relative;
}

.theme-light-show {
  display: block;
}

.theme-dark-show {
  display: none;
}

[data-bs-theme="dark"] {
  .theme-light-show {
    display: none;
  }

  .theme-dark-show {
    display: block;
  }
}
